{% extends base_template %}
{% load static %}

{% block title %}Pré-Cadastro Posição | Pocket{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/pocket.css' %}?v={{ POCKET_STATIC_VERSION }}">
{% endblock %}

{% block content %}
{% include 'inventario/pocket/_precadastro_posicao_conteudo.html' %}
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/pocket-precadastro-posicao.js' %}?v={{ POCKET_STATIC_VERSION }}"></script>
<script src="{% static 'js/pocket-cadastro.js' %}?v={{ POCKET_STATIC_VERSION }}"></script>
{% endblock %}
